<html xp-run-server-url="http://xpla.org"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Angular Implementation</title>
    <link rel="stylesheet" href="http://xpla.org/static/css/slide.3.0.0.css">
  </head>
  <body class="xp-slide">
    <div class="xp-row" style="height: 100%">
      <div class="xp-column">
        <xp-editor active="components/todo.js">
<script id="components/list.js" type="application/octetstream" highlight="15,17-19,21-32">
  export default {
    name: 'e1List',
    template: `<div>
        <h3>My Todo List</h3>
        <e1-todo 
          ng-repeat="todo in e1List.todos" 
          todo="todo"
          is-in-edit-mode="e1List.isInEditMode[todo.id]"
          on-change="e1List.onChange(todo.id, name, done)"
          on-open-edit-mode="e1List.onOpenEditMode(todo.id)"
          ></e1-todo>
        <pre>{{ e1List.todos | json }}</pre>
      </div>`,
    controller () {
      this.isInEditMode = {};
      
      this.onOpenEditMode = (id) => {
        this.isInEditMode[id] = true;  
      };
      
      this.onChange = (id, name, done) => {
        const idx = this.todos
          .map((todo) => todo.id)
          .indexOf(id);
          
        this.todos.splice(idx, 1, {
          id: id,
          done: done,
          name: name
        });
        this.isInEditMode[id] = false;
      };
      
      this.todos = [{
        id: 1,
        done: true,
        name: 'Buy Beer'
      },
      {
        id: 2,
        done: false,
        name: 'Learn Flux'
      },
      {
        id: 3,
        done: false,
        name: 'Learn Redux'
      }];
    }
  };
</script>
<script id="components/todo.js" type="application/octetstream" highlight="4-7,26-28,31-33,35-39">
  export default {
    name: 'e1Todo',
    bindings: {
      isInEditMode: '=',
      todo: '=',
      onOpenEditMode: '&',
      onChange: '&'
    },
    template: `
    <h3><label ng-if="!e1Todo.isInEditMode">
        <input disabled ng-model="e1Todo.todo.done" type="checkbox" />
        {{ e1Todo.todo.name }}
        <a href ng-click="e1Todo.edit()">edit</a>
    </label>
    <span ng-if="e1Todo.isInEditMode">
        <input ng-model="e1Todo.tempDone" type="checkbox" />
        <input 
          ng-model="e1Todo.tempName"
          ng-minlength="4" 
          type="text"
          />
        <a href ng-click="e1Todo.change()">done</a>
    </span></h3>`,
    controller ($scope) {
        
      $scope.$watch(() => this.todo, (newTodo) => {
        this.tempDone = newTodo.done;
        this.tempName = newTodo.name;
      });
      
      this.edit = () => {
        this.onOpenEditMode();  
      };
      
      this.change = () => {
        this.onChange({
          name: this.tempName,
          done: this.tempDone
        });
      };
    }
  };
</script>
<script id="index.js" type="application/octetstream">
import {module, bootstrap} from 'angular';
import list from './components/list.js';
import todo from './components/todo.js';

const mod = module('myapp', []);
mod.component(list.name, list);
mod.component(todo.name, todo);

bootstrap(document, [mod.name]);
</script>
<script id="index.html" type="application/octetstream" src="001/index.html"></script>
</xp-editor>
      </div>
      <div class="xp-column">
        <xp-preview runner="html-babel"></xp-preview>
      </div>
    </div>
    <script src="http://xpla.org/static/js/slide.3.0.0.js"></script> 
  

</body></html>
